<div class="row text-center">
  <div class="span9">
    <h1>All Blocmarks</h1>
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
  </div>
</div>
<br>

<% @topics.each do |topic| %>
  <div class="row text-center">
    <div class="col-md-12">
      <h3><%= link_to topic.title, topic %></h3>
    </div>
    <% topic.bookmarks.each do |bookmark| %>
      <div class="col-md-3">
        <div class="row">
          <%= link_to bookmark.url, bookmark.url %>
        </div>
        <div class="row">
          <%= render partial: 'likes/like', locals: { topic: @topic, bookmark: bookmark } %>
          <%= link_to "Edit", edit_topic_bookmark_path(topic, bookmark), class: 'btn btn-success btn-xs' %>
          <%= link_to "Delete Bookmark", [topic, bookmark], method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure you want to delete this bookmark?' } %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
