<div class="row text-center">
  <h2>My Blocmarks</h2>
    <% @user_bookmarks.each do |bookmark| %>
      <div class="col-md-12">
        <strong><%= bookmark.topic.title %></strong><br />
        <div class="col-md-3">
          <div class="thumbnail">
            <% embedly = display(bookmark.url) %>
            <%= link_to embedly[:url], :target => '_blank' do %>
              <%= image_tag embedly[:thumbnail_url] %>
            <% end %>
          </div>
          <div>
            <%= link_to bookmark.url, bookmark.url %><br />
            <%= link_to "Delete Bookmark", [@topic, bookmark], method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure you want to delete this bookmark?' } %>
          </div>
        </div>
      </div>
    <% end %>
</div>
<div class="row text-center">
  <h2>Liked Blocmarks</h2>
    <% @user_liked_bookmarks.each do |bookmark| %>
    <div class="col-md-12">
      <strong><%= bookmark.topic.title %></strong><br />
      <div class="col-md-3">
        <div class="thumbnail">
          <% embedly = display(bookmark.url) %>
          <%= link_to embedly[:url], :target => '_blank' do %>
            <%= image_tag embedly[:thumbnail_url] %>
          <% end %>
        </div>
        <div>
          <%= link_to bookmark.url, bookmark.url %><br />
          <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
